body {
    background-color:#674F2D;
}
.head{
    text-align: center;
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
}
.audio-container {
    text-align: center;
    padding: 40px 20px;
    background-color: #ffffff;
    margin: 20px auto;
    max-width: 400px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

audio {
    width: 100%;
    margin-top: 10px;
}